Storing strings in variables

In [1]:
name = "Marina"

In [2]:
age = 22

In [3]:
print name

Marina

In [4]:
print age

22

In [6]:
print name + str(age)

Marina22

In [13]:
letter1 = "M"
letter2 = "Y"
letter3 = "N"
letter4 = "A"
letter5 = "M"
letter6 = "E"

In [14]:
start = letter1 + letter2 + " " + letter3 + letter4 + letter5 + letter6

In [16]:
print start + " IS " + name

MY NAME IS Marina

In [17]:
gas = 2.35

In [18]:
print gas

2.35

In [19]:
3.0 / 5.0

0.6

In [20]:
colors = [ "red", "blue", "green", "yellow" , "brown", "orange", "pink", "purple", "burgundy"]

In [23]:
print colors [-1]

burgundy

In [24]:
len(colors)

9

In [26]:
print colors[8]

burgundy

In [27]:
cars = {"ford":"f150","volkswagen":"gold","audi":"g2","smart":"smartfor4","bmw":"328i","toyota":"corolla"}

In [28]:
print cars["audi"]

g2

In [30]:
print cars["audi"][1]

2

In [35]:
# loops

In [37]:
# loops

In [38]:
# let's loop through the colors
for color in colors:
    print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy

In [39]:
# start after first iterm
for color in colors [1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy

In [40]:
print colors[1:]

['blue', 'green', 'yellow', 'brown', 'orange', 'pink', 'purple', 'burgundy']

In [41]:
building = "annenberg"

In [42]:
building [0]

'a'

In [43]:
building[:5]

'annen'

In [44]:
colors[:5]

['red', 'blue', 'green', 'yellow', 'brown']

In [45]:
for letter in building: 
    print letter

a
n
n
e
n
b
e
r
g

In [46]:
for car in cars:
    print car

toyota
volkswagen
bmw
ford
smart
audi

In [48]:
# loop through colors and print everything that's not burgundy 
for color in colors:
    if color is not'burgundy':
        print color

red
blue
green
yellow
brown
orange
pink
purple

In [49]:
# addition 
5 + 3

8

In [50]:
# subtraction 
4 - 2

2

In [51]:
# division 
8/2

4

In [52]:
# multiplication 
3 * 3

9

In [53]:
# modulo 
5 % 2

1

In [54]:
8 > 2

True

In [55]:
8 > 10

False

In [58]:
# is gas greater than 3? 
gas > 3

False

In [59]:
print gas

2.35

In [60]:
calgas = 4.00

In [62]:
arkgas = gas

In [63]:
calgas < arkgas

False

In [64]:
first_name = "marina"

In [65]:
firstname = "marina"

In [66]:
firstName = "marina"

In [72]:
sentence = "marina said, \"Hello.\""
print sentence

marina said, "Hello."

In [73]:
sentence2 = "Danielle said 'Can we do single quotes?'"
print sentence2

Danielle said 'Can we do single quotes?'

In [75]:
sentence3 = 'Danielle said, \'Can we do single quotes?\''
print sentence2

Danielle said 'Can we do single quotes?'

In [80]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?"

In [81]:
# create a text file 
f = open ("week2test.txt","w")

In [83]:
# write a sentence to that file
f.write(sentence3)

In [84]:
# close the file 
f.close()

In [85]:
# open the file for reading 
f = open("week2test.txt","r")

In [86]:
f.read()

'Jon said, "Danielle said, \'Can we do single quotes?"'

In [87]:
f.readlines()

[]

In [88]:
f = open("week2test.txt","a")

In [89]:
f.write("I just added this line!")

In [90]:
f.close()

In [91]:
fruits = """
red 
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

In [92]:
print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [96]:
f = open("week2test.txt","a")

In [97]:
f.write(fruits)

In [98]:
f.close()

In [99]:
import csv

In [114]:
#open up usc property file
f = open("usc.txt","w")

#open the assessor file
with open("assessor.csv","r") as csvfile: 
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    #loop through each row
    for row in assessor:
        #check if this assessor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write(row[0] + '\n')
            
#close the file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [106]:
#open the assessor file
with open("assessor.csv","r") as csvfile: 
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    #loop through each row
    for row in assessor:
        #check if this assessor id number is in row
        if '5039-024-016' in row:
            print row

['5039-024-016', '19831116-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3441', '', '', 'UNIVERSITY AVE', '', 'LOS ANGELES CA', '90007-3504', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [115]:
#open up usc property file
f = open("usc.html","w")

# write header row 
f.write("<p><strong>ain</strong></p>\n")

#open the assessor file
with open("assessor.csv","r") as csvfile: 
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    #loop through each row
    for row in assessor:
        #check if this assessor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write("<p>" + row[0] + '</p>\n')
            
#close the file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [2]:
# define a new function 
def ladycat(time):
    if time is 'night':
        print "MEEOOWWW"
    elif time is 'day':
        print "prrrrr"
    else:
        print 'ZZZZ'

In [3]:
ladycat('night')

MEEOOWWW

In [4]:
ladycat("day")

prrrrr

In [5]:
ladycat("march")

ZZZZ